button {
    display: inline-block;
    background-color: darkcyan;
    width: 80px;
    height: 32px;
    font-size: 14px;
    color: #fff;
    border: 1px solid darkcyan;
    border-radius: 5px;
    box-sizing: border-box;
}
