@charset "utf-8";

//=======================================================
// Mixins: clearfix
//=======================================================

@mixin blind(){
  position:absolute;display:inline-block;font-size:1px;width:1px;height:1px;padding:0;margin:-1px;visibility: hidden;overflow: hidden;border:0;clip:rect(0,0,0,0);
}