@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

$default-font-family:
  "Pretendard Variable",
  Pretendard,
  -apple-system,
  BlinkMacSystemFont,
  system-ui,
  Roboto,
  "Helvetica Neue",
  "Segoe UI",
  "Apple SD Gothic Neo",
  "Noto Sans KR",
  "Malgun Gothic",
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  sans-serif;

@mixin font-style($style) {
  font-style: $style;
}

@mixin font-basic {
  font-size: rem(16);
  font-weight: 400;
}

@mixin font-bold {
  font-size: rem(16);
  font-weight: 600;
}

@mixin font-menu {
  font-size: rem(20);
  font-weight: 600;
}

@mixin font-title {
  font-size: rem(32);
  font-weight: 600;
}

body {
  font-family: $default-font-family;
  @include font-basic;
}
