@charset "utf-8";

//=======================================================
// Mixins: scroll
//=======================================================

$ScrollBg: #EBEBEB;
$ScrollBgHover: #BBB;

@mixin scroll($width:rem(10), $background: transparent){
	overflow:auto;
  &::-webkit-scrollbar{width:$width;height:$width;}
  // &::-webkit-scrollbar-track{background-color:#FAFAFA;}
  &::-webkit-scrollbar-track{background-color:$background;}
  &::-webkit-scrollbar-thumb{background:$ScrollBg;border-radius:rem(10);}
  &::-webkit-scrollbar-thumb:hover{background:$ScrollBgHover;opacity:.5;}
}

@mixin scrollX($width:rem(10)){
	overflow-x:overlay;
  &::-webkit-scrollbar{width:$width;height:$width;}
  &::-webkit-scrollbar-thumb{background:$ScrollBg;border-radius:rem(10);}
  &::-webkit-scrollbar-thumb:hover{background:$ScrollBgHover;}
}