@charset "utf-8";

:root {
    color-scheme: light only;
}

* {
    position: relative;
    padding: 0;
    margin: 0;
    font: inherit;
    letter-spacing: inherit;
    word-break: keep-all;
    resize: none;
    appearance: none;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -webkit-appearance: none;
}

::before,
::after {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

input,
textarea,
button {
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 0;
    background: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: none;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    border: 0;
    text-decoration: none;
    cursor: pointer;
}

ul,
ol,
dl,
li,
dt,
dd {
    list-style: none;
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th,
td {
    padding: 0;
    margin: 0;
}

caption {
    width: 1px;
    height: 1px;
    font-size: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    opacity: 0;
}

img {
    display: block;
    width: 100%;
    border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    display: block;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 360px) {
    html,
    body {
        font-size: 56.25%;
    }
}

@media screen and (max-width: 320px) {
    html,
    body {
        font-size: 50%;
    }
}
