@use './mixins' as fn;
@use './base.scss' as base;

.wrapper{
  position: relative;
  width:100%;
  height:100%;
  .wrap{
    width:100%;
    height: 100%;
  }
  .header{
    padding:fn.to-rem(36) 0;
    border-bottom:1px solid #e9e9e9;
    box-shadow: 0px 0px 8px 0px #1A1A1A29;
    > nav{
      .top-menu {
        ul {
          @include fn.flexArea(100%, center, flex-start, '', fn.to-rem(20));
        }
      }
    }
  }
  .header nav, section {
    max-width: calc(1200px + fn.to-rem(48));
    padding: 0 fn.to-rem(40);
    margin: 0 auto;
  }
  section{
    margin-top:fn.to-rem(30);
    &+ section {
        margin-top: fn.to-rem(30);
      }
  }
  

  @for $i from 1 through 6{
    h#{$i}{
    padding: fn.to-rem(15) 0;
    font-weight: 700;
    font-size: fn.to-rem(32);
    &+* {
        margin-top: fn.to-rem(20);
      }
    }
  }

  .table-wrap{
    width:100%;
    border-top:2px solid #1a1a1a;
    thead{
      box-shadow: 0 4px 8px -4px #1A1A1A29;
    }
    th, td{
      padding:fn.to-rem(16) 0;
      text-align: center;
      border-bottom: 1px solid #d7d7d7;
    }
  }
  .accordion{
    border-top: 2px solid #1a1a1a;
    &-item {
      border-bottom: 1px solid #d7d7d7;
      width:100%;      
    }
    &-header{
      width:100%;
      border:0;
      padding: fn.to-rem(15);
      font-size:fn.to-rem(24);
      font-weight:500;
      text-align: left;
      background-color: inherit;
      cursor: pointer;
    }
    &-content{
      padding: fn.to-rem(15);
      background-color: #d4e0e2;
    }
  }
}
