@import "./base";
@import "./mixins";

#app {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding: rem(15);
  font-weight: normal;
  & nav ul {
    // background-color: red;
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: rem(20);
    font-weight: 600;
    height: rem(40);
    > li {
      width: 100%;
      height: 100%;

      a {
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        width: inherit;
      }
      &:hover {
        color: #333;
        // margin-bottom: rem(-2);
        // border-bottom: 2px solid #333;
      }

      & .subMenu {
        position: relative;
        background-color: #fff;
        z-index: 1;
        display: none;
        > ul {
          display: flex;
          flex-direction: column;
          height: 100%;
          background-color: #e1dede;
          border-radius: rem(8);
          gap: 0;
          animation: fadeIn 1s forwards;
          @keyframes fadeIn {
            from {
              opacity: 0;
            }
            to {
              opacity: 1;
            }
          }
          > li {
            text-align: center;
            border-bottom: none;
            margin-bottom: 0;
            padding: rem(10) 0;
            font-size: rem(14);
          }
        }
        &.active {
          display: block;
        }
      }
    }
  }
  & .container {
    padding: rem(15);
  }
}
