nav{
    background-color: #9e9e9e;
    color:#fff;
}
nav a{
    color: #333;
    padding:15px;
}
nav a.router-link-exact-active{
    color:#dab2d8;
}


.container {
    width: 100%;
    height: 200px;
}

.active {
    background-color: yellow;
    font-weight: bold;
}


.listTable{
    display: table;
    width:980px;
    margin:0 auto;
}
.listTable ul, .listTable li{list-style-type: none;}
.listTable ul.row-group {
    background-color: bisque;
}
.listTable ul{
    display: table-row;
    height:45px;
    line-height:45px;
}
.listTable ul li{
    display: table-cell;
}

.writeForm{
    display: table;
    width:500px;
    margin:0 auto;
}
.writeForm ul, .writeForm li{list-style: none;}
.writeForm li{
    display: table-cell;
}

